@{
    ViewData["Title"] = "Confirmation";
}

@model Bowler

<div class="text-center mt-5">
    <h2>@Model.BowlerFirstName @Model.BowlerLastName has been saved</h2>
    <br />
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
</div>
